server {
    listen 80;
    server_name {{ base_domain }};

    location /.well-known/ {
        alias /opt/www/acme/.well-known/;
    }

    location / {
        return 301 https://{{ base_domain}}$request_uri;
    }
}
